
<header class="header section-wrapper">

    <div class="section-content-wide">
        <div class="section-gap">

            <h1 class="blog-title center pb-base">
                <a class="blog-link" href="/">{{site_setup.title}}</a>
            </h1>

            <p class="blog-description pb-base center">
                {{site_setup.description}}
            </p>

            <div class="search pb-base center">
                <form class="search-form" action="#" method="get">
                    <div>
                        <label class="sr-only" id="search-label" for="search-input" > search</label>
                        <input 
                        class="search-input" 
                        id="search-input" 
                        type="search" 
                        name="search"
                        placeholder="Search..."
                        aria-labelledby="search-label"
                        value="Como ganhar dinheiro online? ">

                        <button class="search-submit" type="submit" aria-label="search"> 
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>


            <nav class="menu">
                <ul class="menu-items">
                  <li class="menu-item">
                    <a class="menu-link" href="/post/">Post</a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="/page/">Page</a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#">About us</a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#">Contact</a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#">Support</a>
                  </li>
                </ul>
            </nav>

        </div>
    </div>

</header>